@import "../../../styles/bootstrapDependecies.scss";

$gray-dark: #262430;
$pink: #CE657C;
$white: #ffffff;

.navbar {
  color: $gray-dark;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;

  .icon-navbar {
    z-index: 1;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $pink;
    }
  }

  &.active {
    background-color: $gray-dark;
  }

  .btn-menu {
    background-color: $white;
    a {
      display: none;
      margin: 2px 0;
    }

    @include media-breakpoint-up(md) {
      background-color:$white;
      display: flex;
      a {
        display: flex;
      }
    }

  }
  
  &.active {
    .btn-menu {
      height: 15em;
      left: 0;
      position: absolute;
      text-align: center;
      z-index: 1;
      background-color: $gray-dark;
    }

    a {
      display: block;
      color: $white;
      margin-right: 0;
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    background-color:$white;
    color: $gray-dark;
    position: relative;
  }
}
