@font-face {
  font-family: Nunito;
  src: url('./Nunito/Nunito-Regular.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('./Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Monsieur Pomme;
  src: url('./monsieur_pomme/Monsieur-Pomme.otf');
}
