@import "../styles/variables";
@import "../styles/bootstrapDependecies.scss";

.container-wrap {
  padding: 15px;

  &.container-size {
    height: 60vh;
    width: 100%;

    @include media-breakpoint-up(md) {
      border-radius: 20px;
      margin: 0 auto;
      width: 90%;
    }
  }
}
